.user-avt{
  margin-left: 150px;
}
.custom-file-input{
  margin-left: 80px;
}
.box{
  margin-left: 10%;
}
.text-inf{
  /* border: 1px black solid !important; */
  margin-bottom: 10px !important;
  /* margin-left: 0%; */
  /* padding-left: -10%; */
}
img{
  padding-left: 0;
}